body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
html,body{
    font-family: "微软雅黑";
    background: #f7f7f7;
    height: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}

